.agent{
   // Header section
   &__header {
    position: relative;
    padding: toRem(40) 0 toRem(124);
    margin-bottom: toRem(44);
    height: toRem(563);
  }

  &__header-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__header-bg-overlay {
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__header-bg-overlay-shadow {
    background: linear-gradient(
      180deg,
      rgba(5, 44, 71, 0) 0%,
      rgba(5, 44, 71, 0.6) 68.75%
    );
    position: absolute;
    width: 100%;
    height: 56%;
    bottom: 0;
    left: 0;
  }

  &__header-content {
    @include flex(column, center);
    text-align: center;

    .tabs {
      margin-bottom: toRem(88);
    }

    .heading {
      color: $white;
    }

    .subheading {
      color: $white;
      margin-top: toRem(16);
    }
  }

  &__header-form {
    position: absolute;
    bottom: toRem(56);
    right: 0;
    left: 0;
    width: 100%;
    height: toRem(238);
  }
}