.agent-report{


  &__header{
    padding-top: toRem(24);
    background: $white;
  }

  &__header-title{
    color: $neutral-primary;
    margin-bottom: toRem(24);
  }
  &__header-split{
    display: flex;
    justify-content: space-between;
    border-bottom: toRem(1) solid $neutral-separator;
    gap: toRem(24);

    @include media-breakpoint-down(sm){
      flex-direction: column
    }
  }
  
  &__menu{
    @include flex(row, center);
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: auto;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1px;
      background-color: $neutral-separator;
      left: 0;
      bottom: 0;
    }

    & > * {
      border-radius: 0;
      border: none;
      outline: none;
      border-bottom: 1px solid $neutral-input;
      padding: toRem(16) toRem(32);
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $blue-whale-01;
      flex-grow: 1;
      max-width: toRem(159);

      &:not(.active):hover {
        background-color: shade-color(transparent, $btn-hover-bg-shade-amount);
      }

      &.active {
        font-weight: $font-weight-bold;
        color: $neutral-primary;
        border-bottom: 2px solid $green-01;
      }
    }

    &.tabs > *{
      max-width: toRem(120);

      @include media-breakpoint-down(sm) {
        margin-top: toRem(24);
      }
    }
  }  

  &__table{
    border: none;
    background: transparent;
  }
  &__table-list{
    border-bottom: toRem(1) solid $neutral-separator;
    cursor: pointer;

    &>th{
      padding: toRem(16) toRem(17);  
      font-size: $font-size-base;
      font-weight: 700;
      color: $neutral-primary;
    }
    &>td{
      padding: toRem(16) toRem(17);  
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: $neutral-primary;
    }
  }
  &__table-list--center{
    text-align: center;
  } 
  &__table-list--icon{
    display: flex;
    align-items: center;
    gap: toRem(8);
  }
  &__table-list--room{
    justify-content: center;
  }
  &__table-status{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(3) toRem(16);
    border-radius: toRem(32);
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    color: $white;
    width: fit-content;
    margin: 0 auto;

    &--upcoming{background: $info-main;}
    &--active{background: $neutral-primary;}
    &--completed{background: $success-main;}
    &--unpaid{background: $warning-main;}
    &--cancelled{background: $danger-main;}
  }
  &__table-link{
    color: $green-01;
  }
  &__table-dropdown{
    border: none;
    padding: 0;
  }
}
