@import "login";
@import "dashboard";
@import "booking";
@import "dashboard-business";
@import "property-business";
@import "guest-review-business";
@import "customer-feedback";
@import "settings-business";
@import "rate-availability-business";
@import "patner";
@import "customer";
@import "settings";
@import "reservation";
@import "agent";
@import "email";
@import "blog";
@import "job";
@import "toast";
@import "tour";