.admin-login{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__wrapper{
    padding: toRem(96) 0 toRem(48);    
    display: flex;
    flex-direction: column;    
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(32) 0 toRem(40);
    border-bottom: toRem(1) solid $neutral-separator;
  }
  &__form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: toRem(23);    
    width: 100%;
    max-width: toRem(548);
  }
  &__form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(12);
    text-align: center;
  }
  &__form-header-title{
    color: $neutral-primary;
  }
  &__form-header-subtitle{
    font-size: $font-size-xl;
    font-weight: $font-weight-base;
    color: $neutral-primary;
  }
  &__form-group{
    display: flex;
    flex-direction: column;
    gap: toRem(8);
  }
  &__form-checklist{
    margin-bottom: toRem(16);
  }
  &__footer{
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $neutral-primary;
    padding-bottom: toRem(48);
    margin-top: auto;
    text-align: center;
  }
}