.admin-reservation {
  .admin-reservation-detail__header {
    margin-bottom: toRem(40);
  }

  &__guest {
    padding-bottom: toRem(24);
    border-bottom: 1px solid $neutral-separator;
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(24);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: toRem(24);
    }
  }

  &__guest-profile {
    display: flex;
    gap: toRem(12);
    align-items: center;
  }

  &__content-container {
    width: 100%;
    padding-bottom: toRem(40);
  }

  &__form {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: toRem(20);

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      gap: toRem(16);
    }
  }

  &__form-right {
    height: fit-content;
    .admin-reservation__form-button {
      display: flex;
      flex-direction: column;
      gap: toRem(24);
      .separator {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $neutral-separator;
      }
    }
  }

  &__title-content {
    color: $neutral-subtle;
    font-weight: $font-weight-semibold;
    margin-bottom: toRem(12);
  }

  &__profile {
    display: flex;
    flex-direction: column;
  }

  &__profile-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs-2) {
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(16);
    }
  }

  &__blur-image {
    border-radius: toRem(4);
  }

  &__profile-person {
    display: flex;
    align-items: center;
    gap: toRem(16);
    padding-right: toRem(24);
    border-right: 1px solid $neutral-separator;
    margin-right: toRem(24);

    @include media-breakpoint-down(xs-2) {
      border-right: none;
      margin-right: 0;
      padding: 0;
    }
  }

  &__profile-region {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }

  &__booking-id {
    font-weight: $font-weight-semibold;
    color: $neutral-primary;
    @extend .fs-xl;
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(24);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(24);
    }
  }

  &__date-check {
    display: flex;
    gap: toRem(12);
  }

  &__date-icon {
    padding: toRem(10);
    border-radius: toRem(46);
    background-color: $neutral-light;
    height: fit-content;
  }

  &__date-content {
    display: flex;
    align-items: center;
    gap: toRem(12);

    @include media-breakpoint-down(xs-2) {
      flex-direction: column;
    }
  }

  &__title-semibold {
    color: $neutral-primary;
    font-weight: $font-weight-semibold;
    @extend .fs-lg;

    @include media-breakpoint-down(sm) {
      font-size: 14px !important;
    }
  }

  &__title-bold {
    color: $neutral-primary;
    font-weight: $font-weight-bold;
    @extend .fs-xl;
  }

  &__caption-time {
    color: $neutral-secondary;
    @extend .fs-lg;
  }

  &__content {
    margin-bottom: toRem(24);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(xs-3) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__content-card {
    margin-bottom: toRem(24);
  }

  &__info-content {
    display: flex;
    gap: toRem(12);
    align-items: center;

    &--information {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(12);
      align-items: center;
    }

    &--paragraph {
      display: flex;
      gap: toRem(6);
    }
  }

  &__info {
    padding: toRem(16);
    border: 1px solid $neutral-separator;
    border-radius: toRem(12);
  }

  &__info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(16);

    &--summary {
      margin-bottom: toRem(24) !important;

      @include media-breakpoint-down(xs-3) {
        flex-direction: column;
      }
    }
  }

  &__button-info {
    border: none;
    background-color: $white;
    cursor: pointer;
    color: $green-01;
    font-weight: $font-weight-bold;

    &--green {
      border: none;
      background-color: $green-06;
      cursor: pointer;
      color: $green-01;
      font-weight: $font-weight-bold;
    }
  }

  &__form-reservation {
    display: flex;
    flex-direction: column;
    gap: toRem(24);

    &--checkin {
      display: flex;
      flex-direction: column;
      gap: toRem(24);
    }
    &.checked-in {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__button-reservation {
    width: 100%;
    @extend .fs-base;
    font-weight: $font-weight-bold;

    &--out {
      color: $white !important;
      background-color: $neutral-subtle !important;
      border: 1px solid $neutral-subtle !important;

      &:hover,
      &:active {
        background-color: $neutral-subtle !important;
        border: 1px solid $neutral-subtle !important;
        opacity: 0.75;
      }
    }

    &--disabled {
      border: 1.5px solid $neutral-input !important;
      background-color: $white !important;
      color: $neutral-subtle !important;
    }
  }

  &__button-center {
    display: flex;
    justify-content: center;
  }

  &__caption-title {
    color: $neutral-primary;
    @extend .fs-lg;
  }

  &__item {
    width: 100%;
    padding: 13px 16px;
    background: $neutral-light;
    border: 1px solid $neutral-input;
    border-radius: 10px;
  }

  &__field {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
  }

  &__datepicker {
    display: flex;
    flex-direction: column;
    gap: toRem(8);

    @include media-breakpoint-down(lg) {
      max-width: none !important;
    }

    &-label {
      color: $neutral-secondary;
      font-weight: 500;
    }
  }

  // notification

  &__notification {
    padding: toRem(24);
    border: 1px solid;
    border-radius: 12px;
    margin-bottom: toRem(20);

    &--success {
      background-color: $green-06;
      border-color: $green-03;
    }

    &--danger {
      border-color: $danger-border;
      background-color: $danger-surface;
    }

    &-wrapper {
      display: flex;
      gap: toRem(20);
      align-items: center;

      @include media-breakpoint-down(xs-3) {
        @include flex(column, center, center);
        gap: toRem(16);
      }
    }

    &-icon {
      padding: toRem(12);
      border-radius: 50%;
      width: fit-content;

      &--success {
        background-color: $green-05;
      }
      &--danger {
        background-color: $white;
      }
    }

    &-caption {
      @extend .fs-xl;
      color: $neutral-primary;
      font-weight: 600;
      line-height: 26px;

      &--danger {
        background-color: $danger-main !important;
      }
    }
  }

  //modal

  &__modal {
    max-width: toRem(604);
    width: 100%;

    &--noshow {
      max-width: toRem(642);
    }

    &-content {
      padding: toRem(24);
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: toRem(40);
    }

    &-content-noshow {
      padding: toRem(24);
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: toRem(24);
    }

    &-wrapper {
      padding: toRem(24);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: toRem(32);
    }
  }
}
