.admin-tour{
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  
    &__wrapper{
      display: flex;
      flex-direction: column;
      padding: toRem(24);
      gap: toRem(24);
      background: $white;
      border-radius: toRem(12);
    }
    
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: toRem(12);
  
      @include media-breakpoint-down(lg){
        flex-direction: column;
        align-items: flex-start;
        gap: toRem(16);
      }
    }
    &__header-split{
      display: flex;
      align-items: center;
      gap: toRem(24);
  
      @include media-breakpoint-down(lg){      
        align-items: flex-start;
        gap: toRem(16);
      }
      
      @include media-breakpoint-down(md){
        flex-direction: column;
        width: 100%;
      }
    }
    &__header-separator{
      height: toRem(53);
      border-left: toRem(1) solid $neutral-separator;
  
      @include media-breakpoint-down(lg){
        display: none
      }
    }
    &__header-tab-menu {
      @include flex(row, stretch, center);
      position: relative;
      z-index: 1;
      width: 100%;
  
      @include media-breakpoint-down(md){
        overflow-x: scroll;
        justify-content: flex-start;
      }
  
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        background-color: $neutral-separator;
        left: 0;
        bottom: 0;
      }
  
      & > * {
        border-radius: 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $neutral-input;
        padding: toRem(16) toRem(32);
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        color: $blue-whale-01;
        flex-grow: 1;
  
        &:not(.active):hover {
          background-color: shade-color(transparent, $btn-hover-bg-shade-amount);
        }
  
        &.active {
          font-weight: $font-weight-bold;
          color: $green-01;
          border-bottom: 2px solid $green-01;
        }
      }
    }
    &__header-search {
      position: relative;
      width: 100%;
  
      @include media-breakpoint-down(md) {
        display: none;
      }  
  
      input {
        height: 40px;
        max-width: 320px;
        width: 100%;
        padding-left: toRem(46);
        background: $neutral-light;
      }
  
      .react-svg {
        width: 20px;
        height: 20px;
        color: $neutral-subtle;
        position: absolute;
        left: toRem(16);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__dropdown-menu-option{
      padding: toRem(12) toRem(16);
      color: $green-01;
    }
  
    &__list{
      display: flex;
      flex-direction: column;
      gap: toRem(16);
    }
    &__list-item{
      @include flex(row, stretch, space-between);
      border: toRem(1) solid $neutral-input;
      border-radius: toRem(12);
      background: $white;
      padding: toRem(24);
  
      @include media-breakpoint-down(lg){
        flex-wrap: wrap;
        gap: toRem(16);
      }
    }
    &__list-item__status-wrapper{
      max-width: 84px;
      width: 100%
    }
    &__list-item__header{
      @include flex(row, flex-start);
      gap: toRem(16);
      max-width: toRem(380);
      width: 100%;
    }
    &__list-item__header-image{
      border-radius: toRem(8);
    }
    &__list-item__header-title{
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $neutral-primary;
      margin-bottom: toRem(8);
    }
    &__list-item__label{
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $neutral-subtle;    
    }
    &__list-item__published{
      @include flex(column, flex-start);
      gap: toRem(12);    
    }
    &__list-item__published-date{
      @include flex(row, center);
      gap: toRem(12);    
      margin-top: toRem(12);
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: $neutral-primary;
    }
    &__list-item__status{
      padding: toRem(3) toRem(16);
      @include flex(row, center, center);    
      margin-top: toRem(6);
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: $white;
      border-radius: toRem(32);
  
      &--draft{
        background: $info-main;
      }
      &--published{
        background: $success-main;
      }
      &--scheduled{
        background: $warning-main;
      }
    }
    &__list-item__action{
      @include flex(row);
      gap: toRem(16);
    }
    &__list-item__action-delete{
      @include flex(row,center,center);
      padding: toRem(14);
      border: none;
      border-radius: toRem(8);    
      background: $danger-surface;
      color: $danger;
    }
  
    &__edit-header{
      @include flex(row, center);
      gap: toRem(24);
      @include media-breakpoint-down(md){
        flex-direction: column;
        align-items: stretch;
      }
    }
    &__edit-header__thumbnail{
      @include flex(row, center, center);
      gap: toRem(16);
      padding: toRem(52) toRem(24);
      border: toRem(1) dashed $green-01;
      border-radius: toRem(12);
      background: $white;
      max-width: toRem(398);
      max-height: toRem(220);
      width: 100%;
      overflow: hidden;
  
      input[type="file"]{
        display: none;
      }
  
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      @include media-breakpoint-down(md){
        max-width: unset;
      }
    }
    &__edit-header__thumbnail-image{
      border-radius: toRem(12);
    }
    &__edit-header__thumbnail-text{
      @include flex(column, flex-start);
      gap: toRem(8);
      font-size: $font-size-lg;
      font-weight: $font-weight-base;
      color: $neutral-primary;
    }
    &__edit-header__detail{
      @include flex(column, stretch);
      gap: toRem(16);
      flex-grow: 1;
    }
    &__edit-header__detail-group{
      @include flex(column, stretch);
      gap: toRem(8);
    }
    &__edit-header__detail-label{
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: $neutral-secondary;
    }
    &__edit-header__detail-input{
      padding: toRem(13) toRem(16);
      background: $white;
      border: toRem(1) solid $neutral-input;
      border-radius: toRem(10);
    }
    select{
      &.admin-blog__edit-header__detail-input{
        cursor: pointer;
      }
    }
    &__edit-footer{
      @include flex(row, center, space-between);    
      @include media-breakpoint-down(md){
        flex-direction: column;
        align-items: flex-start;
        gap: toRem(16);
      }
    }
    &__edit-footer__attatchment{
      @include flex(row, center);
      gap: toRem(24);
      color: $neutral-primary;
    }
    &__edit-footer__buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: toRem(16);    
      white-space: nowrap;
      flex-wrap: nowrap;
  
      a{
        color: $green-01;
      }
      @include media-breakpoint-down(md){
        flex-wrap: wrap;
        button{
          flex: 1 1 auto;
        }
      }
      @include media-breakpoint-down(xs-3){
        button{
          width: 100%;
        }
      }
    }
  
    &__modal {
      margin: auto;
      top: 50%;
      max-width: toRem(604);
      transform: translateY(-50%) !important;
    }
  
    &__modal-body {
      border: none;
      border-radius: toRem(16);
      padding: toRem(24);
      gap: toRem(40);
    }
  
    &__modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: toRem(32) toRem(24) 0;
      gap: toRem(32);
    }
  
    &__modal-image {
      padding: toRem(12);
      background: rgba($success-surface, .1);
      border-radius: toRem(120);
    }
  
    &__modal-text {
      display: flex;
      flex-direction: column;
      gap: toRem(16);
      text-align: center;
    }
  
    &__modal-desc {
      font-size: $font-size-lg;
      font-weight: $font-weight-base;
      color: $neutral-secondary;
    }
    &__modal-row {
      @include flex(row, center);
      gap: toRem(24);
      width: 100%;
    }
    &__modal-group{
      @include flex(column, stretch);
      gap: toRem(8);
      flex-grow: 1;
    }
    &__modal-input{
      @include flex(row, center, space-between);
      gap: toRem(16);
      padding: toRem(13) toRem(16);    
      border-radius: toRem(10);
      border: toRem(1) solid $neutral-input;
      background: $white;
    }
  
    &__modal-footer {
      display: flex;
      gap: toRem(20);
    }
  
    &__modal-button {
      flex: 1 1 0;
    }
  }