// Initialize first
@import "../init";

.homepage {
  // Header section
  &__header {
    position: relative;
    padding: toRem(40) 0 toRem(124);
    margin-bottom: toRem(44);

    &--hotel{
      @include media-breakpoint-down(lg){
        margin-bottom: toRem(180);
      }
    }
    &--flights{
      @include media-breakpoint-down(lg){
        margin-bottom: toRem(348);
      }
    }
    &--book-transfer{
      @include media-breakpoint-down(lg){
        margin-bottom: toRem(280);
      }
    }
    &--tour-package{
      @include media-breakpoint-down(lg){
        margin-bottom: toRem(180);
      }
    }
    &--skyscanner{
      @include media-breakpoint-down(lg){
        margin-bottom: toRem(320);
      }
    }
  }

  &__header-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__header-bg-overlay {
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__header-bg-overlay-shadow {
    background: linear-gradient(
      180deg,
      rgba(5, 44, 71, 0) 0%,
      rgba(5, 44, 71, 0.6) 68.75%
    );
    position: absolute;
    width: 100%;
    height: 56%;
    bottom: 0;
    left: 0;
  }

  &__header-content {
    @include flex(column, center);
    text-align: center;

    .tabs {
      margin-bottom: toRem(88);
      @include media-breakpoint-down(lg){
        width: 100%;
      }
    }

    .heading {
      color: $white;
    }

    .subheading {
      color: $white;
      margin-top: toRem(16);
    }
  }

  &__header-form {
    position: absolute;
    bottom: toRem(-44);
    right: 0;
    left: 0;
    width: 100%;
    height: toRem(86);
  }

  // Banner section
  &__banner {
    @include flex(row, center);
    gap: toRem(20);
    padding: toRem(24);
    border-radius: toRem(12);
    background-color: $green-06;
    border: 1px solid $green-03;

    @include media-breakpoint-down(sm){
      flex-direction: column;
      align-items: center;
      margin-top: toRem(56)
    }

    .icon {
      @include flex(column, center, center);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $green-05;
      color: $neutral-primary;
    }

    .details {
      @include flex(column);
      gap: toRem(8);
    }
  }

  // Plan trip section
  &__plan-trip {
    // @include media-breakpoint-down(lg){
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);        
    // }
    .plan-trip {
      @include flex(column, center);
      text-align: center;      

      &__image {
        width: 100%;
        max-width: 140px;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: toRem(24);
      }

      &__details {
        @include flex(column, center);
        gap: toRem(4);
        width: 100%;
      }

      &__title {
        @extend .fs-xl;
        font-weight: $font-weight-bold;
        color: $neutral-primary;
      }

      &__description {
        align-self: stretch;
        @include text-truncate();
      }
    }
  }

  // Hotels recommendation section
  &__hotels-tabs-menu {
    @include flex(row, stretch, center);
    position: relative;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-down(md){
      overflow: auto;
      justify-content: flex-start;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1px;
      background-color: $neutral-separator;
      left: 0;
      bottom: 0;
    }

    & > * {
      border-radius: 0;
      border: none;
      outline: none;
      border-bottom: 1px solid $neutral-input;
      padding: toRem(16) toRem(32);
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $blue-whale-01;

      &:not(.active):hover {
        background-color: shade-color(transparent, $btn-hover-bg-shade-amount);
      }

      &.active {
        font-weight: $font-weight-bold;
        color: $green-01;
        border-bottom: 2px solid $green-01;
      }
    }
  }

  // Inspiration trip section
  &__inspiration-trip {
    & > *:first-child {
      .article-card {
        &__title {
          @include text-shorten(1);
        }
      }
    }
  }

  &__inspiration-trip-cta {
    margin-top: toRem(48);
    @include flex(row, center, center);

    a {
      @extend .fs-lg;
      @include flex(row, center);
      gap: toRem(10);
    }
  }

  // Trending cities
  &__trending-cities {
    .card-trending-city {
      position: relative;
      z-index: 1;
      width: 100%;
      height: auto;
      aspect-ratio: 387/213;
      border-radius: $border-radius-lg;
      overflow: hidden;

      &__bg-image {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__bg-overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(5, 44, 71, 0) 0%,
          rgba(5, 44, 71, 0.4) 49.02%,
          rgba(5, 44, 71, 0.8) 100%
        );
      }

      &__details {
        position: absolute;
        padding: toRem(24);
        bottom: 0;
        left: 0;
        width: 100%;
        @include flex(column, stretch);
        gap: toRem(12);
      }

      &__title {
        color: $white;
      }

      &__description {
        @include flex(row, center);
        @extend .fs-lg;
        gap: toRem(8);
        color: $neutral-light;
      }
    }
  }

  // Card brand - Airline and Book Transfer
  .card-brand {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    background-color: $white;
    padding: toRem(24);
    border-radius: $border-radius-lg;
    border: 1.5px solid $neutral-input;

    & > img {
      max-width: 100%;
      height: auto;
      max-height: 56px;
      object-fit: contain;
      object-position: center;
    }
  }

  // Tours
  &__tours {
    row-gap: toRem(40);
  }
}
