@import "home";
@import "business/index";
@import "admin/index";
@import "agent/index";
@import "search-hotel";
@import "search-tour-package";
@import "search-transfer";
@import "booking-hotel";
@import "booking-flight";
@import "booking-transfer";
@import "booking-tour";
@import "hotel-details";
@import "car-details";
@import "tour-details";
@import "tour-booking-details";
@import "search-flight";
@import "manage-booking";
@import "manage-review";
@import "manage-account";
@import "cancelation";
@import "coming-soon";
@import "blog";
@import "career";
@import "partnership";
@import "reset-password";
@import "privacy";
@import "terms";
@import "contact-us";
@import "loyalty";