.manage{
  background-color: $neutral-light;

  &__header {
    padding: toRem(24) 0;
    background: $white;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: toRem(120);
    }

    &-title {
      display: flex;
      align-items: center;
      gap: toRem(24);
      color: $neutral-primary;

      &-button {
        color: $green-01;
      }
    }    
  }

  &__menu{
    display: flex;
    flex-direction: column;
    padding: toRem(24);
    gap: toRem(24);
    background: $white;
    border-radius: toRem(16);    
    max-width: toRem(326);
    width: 100%;

    @include media-breakpoint-down(lg){
      max-width: none;
    }
  }

  &__menu-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: toRem(20);
    gap: toRem(16);
    background: $blue-whale-01;
    box-shadow: 0px toRem(4) toRem(20) rgba(5, 44, 71, 0.2);
    border-radius: toRem(12);
  }
  &__menu-avatar{
    display: flex;    
    align-items: center;
    padding: toRem(10);
    gap: toRem(10);
    background: $blue-whale-02;
    border-radius: toRem(100);
    color: $white;
  }
  &__menu-text{
    display: flex;    
    align-items: flex-start;
    flex-direction: column;    
    gap: toRem(4);    
  }
  &__menu-text-name{
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $white;
  }
  &__menu-text-email{
    font-size: $font-size-sm;
    font-weight: $font-weight-base;
    color: $white;    
  }
  &__menu-list{
    display: flex;
    flex-direction: column;
  }  
  &__menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: toRem(16) toRem(20);
    gap: toRem(10);
    background: $white;
    border-radius: toRem(12);
    font-size: $font-size-lg;
    font-weight: $font-weight-base;
    color: $neutral-secondary;
    
    &.active{
      background: $neutral-light;
      font-weight: $font-weight-bold;
      color: $blue-whale-01;

      .manage__menu-item--icon{
        color: $green-01;
      }
    }
    
    &--arrow{
      color: $neutral-secondary;
    }
  }

  &__card{
    display: flex;
    background: $white;
    border: toRem(1) solid $neutral-input;
    border-radius: toRem(16);

    @include media-breakpoint-down(md){
      flex-direction: column;
    }
  }

  &__card-image{
    // height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: toRem(16);
    border-bottom-left-radius: toRem(16);

    @include media-breakpoint-down(xl){
      height: inherit;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      height: toRem(220);
      border-radius: toRem(16);
    }
  }

  &__card-content{
    display: flex;
    flex-direction: column;    
    padding: toRem(24);
    gap: toRem(12);
    border-left: toRem(1) solid $neutral-separator;
    flex: 1 1 0;
  }

  &__card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(16);
  }
  &__card-header-type{
    display: flex;
    align-items: center;
    gap: toRem(8);
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $neutral-primary;

    &--icon{
      display: flex;
      align-items: center;
      padding: toRem(8);
      border-radius: toRem(60);
      background: $green-06;
      color: $green-01;
    }
  } 
  &__card-header-order{
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $neutral-primary;
  }

  &__card-separator{
    border-top: toRem(1) solid $neutral-separator;
    width: 100%;
  }

  &__card-title{
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    gap: toRem(16);

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(xs-2){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__card-title-name{
    display: flex;
    align-items: center;
    gap: toRem(12);
  }
  &__card-title-destination{
    display: flex;
    align-items: center;    
    color: $blue-whale-01;
  }
  &__card-status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: toRem(3) toRem(16);
    border-radius: toRem(32);    
    color: $white;

    &--checkin{background: $success-main;}
    &--confirm{background: $info-main;}
    &--cancelled {background: $danger-main;}
    &--warning {background: $warning-main;}
  }

  &__card-desc{
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;    
    gap: toRem(16);

    @include media-breakpoint-down(xl) {
        flex-direction: column;
        align-items: flex-start;
    }

    @include media-breakpoint-down(sm){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__card-desc-content{
    display: flex;    
    flex-direction: column;
    align-items: flex-start;    
    gap: toRem(16);

    @include media-breakpoint-down(xl) {
      width: 100%;
    }
  }
  &__card-desc-tenant{
    display: flex;
    align-items: center;
    gap: toRem(8);
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $neutral-primary;

    &--icon{
      border: toRem(1) solid $neutral-separator;
      border-radius: toRem(100);
    }
  }
  &__card-desc-location{
    display: flex;
    align-items: center;
    gap: toRem(8);
    font-size: $font-size-lg;
    font-weight: $font-weight-base;
    color: $neutral-secondary;    
  }
  &__card-desc-detail{
    display: flex;
    align-items: center;
    gap: toRem(12);

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__card-desc-item{
    display: flex;
    gap: toRem(8);
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $neutral-secondary;
  }
  &__card-desc-link{
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $green-01;
  }
}