.reset-password-page {
  @include flex(column, stretch);
  min-height: 100vh;

  nav {
    .nav-content {
      @include flex(row, center, center);
      padding: toRem(24) 0;
    }

    .nav-logo {
      width: auto;
      height: toRem(32);
    }
  }

  main {
    flex: 1;
    @include flex(column, stretch);

    .content-wrapper {
      @include flex(column, center);
      padding: toRem(68) 0;
      max-width: 590px;
      margin: 0 auto;
    }

    .content-icon {
      width: toRem(92);
      height: toRem(92);
      margin-bottom: toRem(24);
    }

    .content-title {
      color: $neutral-primary;
      text-align: center;
    }

    .content-subtitle {
      @extend .fs-xl;
      color: $neutral-secondary;
      text-align: center;
      margin-top: toRem(16);
    }

    .content-cta {
      align-self: center;
      width: 100%;
      max-width: 400px;
      margin-top: toRem(40);
    }

    form {
      width: 100%;
      max-width: 400px;
      @include flex(column, stretch);
      margin-top: toRem(24);

      &>*:not(:last-child) {
        margin-bottom: toRem(24);
      }

      .form-label {
        @extend .fs-base;
        @extend .fw-normal;
        color: $neutral-secondary;
        margin-bottom: toRem(8);
      }

      .form-control {
        @extend .fw-normal;
      }
    }
  }

  footer {
    .footer-content {
      @include flex(row, center, center);
      padding: toRem(24) 0;
      @extend .fs-base;
      color: $neutral-subtle;
      text-align: center;
    }
  }
}