// Initialize first
@import "../init";

.search-hotel {
  background-color: $neutral-light;

  // Header Form
  &__header-form {
    background-color: $white;
    border-bottom: 1px solid $neutral-separator;
    padding: toRem(20) 0;
  }

  &__header-form-inner-wrapper {
    @include flex(row, center);
    gap: toRem(32);
  }

  &__breadcrumb{
    display: none;
    gap: toRem(16);
    padding: toRem(24) 0;
    padding-top: 0;
    font-size: $font-size-base;
    color: $green-01;
    font-weight: $font-weight-base;

    @include media-breakpoint-down(xl-1){
      display: flex;
    }
    
    &--link{
      font-weight: $font-weight-semibold;
      color: $green-01;
    }
    &--current{
      color: $neutral-subtle;
    }
  }

  // Header Filters
  &__filters {
    background-color: $white;
    border-bottom: 1px solid $neutral-separator;
    padding: toRem(16) 0;

    @include media-breakpoint-down(lg){
      display: none
    }
  }

  &__filters-inner-wrapper {
    @include flex(row, center);
    gap: toRem(48);
  }

  &__filters-title {
    @extend .fs-lg;
    @extend .fw-bold;
    color: $neutral-primary;
  }

  &__filters-content {
    @include flex(row, center, flex-start, wrap);
    gap: toRem(24);
  }

  &__filter-dropdown {
    position: relative;
  }

  &__filter-dropdown-toggle {
    @include flex(row, center, center);
    padding: toRem(8) toRem(24);
    border-radius: $border-radius-pill;
    border: 1px solid $neutral-input;
    @extend .fw-semibold;
    color: $neutral-primary;

    .react-svg {
      color: $neutral-subtle;

      &:not(.dropdown-toggle-arrow) {
        margin-right: toRem(8);
      }
    }

    .dropdown-toggle-arrow {
      margin-left: toRem(12);
    }
  }

  // Layout Wrapper
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: toRem(32);
    padding-bottom: toRem(104);
    padding-top: toRem(32);

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  // Sidebar
  &__sidemenu {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    flex: 0 0 auto;
    width: 25%;

    @include media-breakpoint-down(lg){
      width: 100%;
      display: none;
    }
  }
  &__sidemenu-quota{
    @include flex(column, center);
    padding: toRem(24);
    background: $white;
    border-radius: toRem(12);
  }
  &__sidemenu-quota-button{
    margin-left: auto;
    background: transparent;
    border: none;
    outline: none;
  }
  &__sidemenu-quota-text{
    @include flex(column);
    margin-top: toRem(20);
    gap: toRem(8);
  }
  &__sidemenu-quota-title{
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $neutral-primary;
  }
  &__sidemenu-quota-title{
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $neutral-secondary;
  }
  &__sidemenu-map {
    position: relative;
    border-radius: toRem(16);
  }
  &__sidemenu-map-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__sidemenu-map-overlay {
    background-color: #041d2f;
    opacity: 0.4;
    border-radius: toRem(16);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  &__sidemenu-filter {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: toRem(48);
    padding: toRem(24);
    border-radius: toRem(16);

    @include media-breakpoint-down(lg){
      flex-direction: row;
    }
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
  }
  &__sidemenu-filter-block {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    &--dropdown{
      @include media-breakpoint-down(lg){
        width: 50%;
      }
      @include media-breakpoint-down(sm){
        width: unset;
      }
    }
  }
  &__sidemenu-filter-head {
    display: flex;
    justify-content: space-between;
    gap: toRem(8);
    font-weight: 600;
    font-size: $font-size-lg;
    color: $neutral-primary;
    @extend .fs-lg;
  }
  &__sidemenu-filter-item {
    display: flex;
    align-items: center;
    gap: toRem(16);

    cur .form-check-label {
      font-size: $font-size-base;
      font-weight: 600;
      color: $neutral-secondary;
      @extend .fs-base;
    }

    .form-check-label,
    .form-check-input {
      cursor: pointer;
    }

    .form-check-input:checked~.form-check-label {
      color: $neutral-secondary;
    }
  }

  // Content
  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    width: 100%;

    &-selection{
      @include flex(row, stretch);
      padding: toRem(24);
      gap: toRem(16);
      background: $white;
      border-radius: toRem(12);
      font-size: $font-size-lg;
      font-weight: $font-weight-base;
      color: $neutral-subtle;

      &-icon{
        @include flex(row, center);        
        gap: toRem(8);
        font-weight: $font-weight-semibold;
      }
      &-divider{
        border-left: toRem(1) solid $neutral-separator;
      }      
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(md){
        flex-direction: column;
        gap: toRem(24);
      }

      &-title {
        font-size: $font-size-lg;
        font-weight: $font-weight-base;
        color: $neutral-primary;
        @extend .fs-lg;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: toRem(16);

      @include media-breakpoint-down(md){
        gap: toRem(24);
      }
    }
  }

  &__hotel {
    position: relative;
    display: flex;
    background-color: $white;
    border-radius: toRem(16);
    border: 1px solid $neutral-input;

    @include media-breakpoint-down(md){
      flex-direction: column;
    }

    &-image {
      position: relative;

      &-src {
        border-top-left-radius: toRem(16);
        border-bottom-left-radius: toRem(16);
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-down(md){
          border-bottom-right-radius: toRem(16);
          border-top-right-radius: toRem(16);
          max-height: toRem(360);
          width: 100%;
        }
      }

      &-favorite {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: toRem(10);
        top: toRem(16);
        left: toRem(16);
        border-radius: toRem(100);
        background: $white;
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(16);
      padding: toRem(24);
      width: 100%;

      &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: toRem(12);

        &-row {
          display: flex;
          align-items: center;
          gap: toRem(8);
        }

        &-chips {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: toRem(3) toRem(16);
          background: $blue-whale-01;
          color: $white;
          border-radius: toRem(32);
        }

        &--name {
          color: $neutral-primary;
        }

        &--location {
          font-size: $font-size-lg;
          color: $neutral-secondary;
          @extend .fs-lg;
        }

        &--pin {
          color: $green-01;
        }

        &--overall {
          font-size: $font-size-lg;
          color: $neutral-primary;
          @extend .fs-lg;
        }
      }

      &__facilities {
        display: flex;
        align-items: center;
        gap: toRem(12);
        flex-wrap: wrap;

        &-item {
          display: flex;
          align-items: center;
          gap: toRem(8);
          font-size: $font-size-base;
          color: $neutral-subtle;
          @extend .fs-base;
        }
      }

      &__price {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        gap: toRem(4);
        color: $neutral-primary;

        &-duration {
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          @extend .fs-base;
        }
      }
    }
  }

  &__pagination {
    @include flex(row, center, center);
  }
}