.add-fleet{
    background-color: $neutral-light;

    &__content-container {
        max-width: toRem(1120);
        margin: 0 auto;
        padding: toRem(56) 0;
    }

    &__content-form {
        padding: 1.5rem;
        border-radius: 16px;
        background-color: $white;
        margin-bottom: 1.5rem;
    
        &--row {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &--column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__content-label{
        margin-bottom: toRem(24);
    }

    &__button-car{
        border: none;
        background-color: $white;
        display: flex;
        gap: toRem(6);
        align-items: center;
    }

   

    &__button-caption{
        color: $green-01;
        @extend .fs-lg;
        font-weight: 600;
        transition: all .2s ease;
    }   
}