.add-location{
    background-color: $neutral-light;

    &__header{
        border-bottom: 1px solid $neutral-separator;
        background-color: $white;
        width: 100%;
    }

    &__content-header{
        display: flex;
        gap: toRem(24);
        align-items: center;
        padding: toRem(24) toRem(24);
    }

    &__content-container {
        max-width: toRem(1120);
        margin: 0 auto;
        padding: toRem(56) 0;
    }

    &__content-form {
        padding: 1.5rem;
        border-radius: 16px;
        background-color: $white;
        margin-bottom: 1.5rem;
    
        &--row {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &--column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--time{
            display: flex;
            flex-direction: column;
            gap: toRem(32);

            @include media-breakpoint-down(lg){
                gap:  toRem(48);
            }
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: unset !important;
        }
    }

    &__content-title-heading {
        color: $neutral-primary;

        &--popup{
            text-align: center;
            margin-bottom: toRem(16);
        }
    }

    &__content-title {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: toRem(24);
        justify-content: center;
        width: 100%;
        color: $neutral-primary;
        font-weight: 600;
        margin-bottom: toRem(24);
        @extend .fs-xl;

        &--alert-info{
            margin-bottom: toRem(8);
        }

        &--time{
            font-weight: 500 !important;
            margin-bottom: 0 !important;
            width: toRem(120);

            @include media-breakpoint-down(lg){
                width: fit-content;
            }
        }
    }

    &__content-caption{
        @extend .fs-sm;
        color: $neutral-primary;

        &--popup{
            text-align: center;
        }
    }

    &__content-flag-desc{
        display: flex;
        flex-direction: column;
        gap: toRem(24);
    }

    &__content-label{
        margin-bottom: toRem(24);

        &--time{
            margin-bottom: 0;
            padding: 0;
            max-width: toRem(180);

            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }

        &--wrapper{
            display: flex;
            gap: toRem(16);
            
            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            @include media-breakpoint-down(xs-2){
                flex-direction: column;
            }   
        }
    }

    &__content-caption{
        @extend .fs-sm;
        color: $neutral-primary;

        &--popup{
            text-align: center;
        }
    }

    &__content-time{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--left{
            display: flex;
            align-items: center;
            

            @include media-breakpoint-down(lg){
                justify-content: space-between;
                width: 100%;
            }
            
            @include media-breakpoint-down(md){
                margin-bottom: toRem(16);
            }
        }
        
        @include media-breakpoint-down(lg){
            flex-direction: column;
            align-items: flex-start;
            gap: toRem(12);
        }
    }

    &__content-radio{
        display: flex;
        gap: toRem(12);

        @include media-breakpoint-down(lg) {
            margin-right: 1rem;
        }

        @include media-breakpoint-down(sm){
            margin: 0;
        }
    }

    &__radio-status{
        color: $neutral-subtle;
        font-weight: 400;
        @extend .fs-lg;

        @include media-breakpoint-down(md){
            display: none;
        }
    }

    &__icon-plus{
        padding: 0 toRem(8);

    }

    &__time-input{
        display: flex;
        gap: toRem(16);

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__button-list {
        text-align: right;
        margin-top: 1.5rem;
        border-radius: 16px;
        background-color: $white;
        padding: 1.5rem;
    
        &--payment{
          justify-content: flex-end;
          display: flex;
          align-items: center;
        }
    }

    &__button-list-item {
        padding: 1rem 1rem;
        width: 100%;

        &--form{
            padding: 1rem 0.2rem;
        }
    
        @include media-breakpoint-down(sm) {
          margin-bottom: toRem(16);
        }
    }

    &__button-delete {
        color: $black;
        &:hover {
            color: $white !important;
        }
    }

    // popup

    &__popup-content{
        display: flex;
        flex-direction: column;
        gap: 1rem; 
    }

    &__popup-form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__popup-form-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    // &__popup{
    //     height: 100vh;
    //     width: 100%;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba($modal-backdrop-bg, .4);
    //     z-index: 9999;
    //     opacity: 0;
    //     visibility: hidden;
    //     transition: all .3s;
    
    //     &:target {
    //         opacity: 1;
    //         visibility: visible;
    //     }
    // }

    // &__popup:target &__popup-form {
    //     opacity: 1;
    //     transform: translate(-50%, -50%) scale(1);
    // }

    // &__popup-form {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     max-width: 100%;
    //     background-color: $white;
    //     border-radius: 16px;
    //     display: flex;
    //     flex-direction: column;
    //     overflow: hidden;
    //     padding: toRem(24);
    //     opacity: 0;
    //     transform: translate(-50%, -50%) scale(.25);
    //     transition: all .5s .2s;
    // }

    // &__popup-form-content{
    //     padding: toRem(32) toRem(24);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: toRem(32);

    //     @include media-breakpoint-down(sm){
    //         padding: toRem(4) toRem(12);
    //         gap: toRem(12);
    //     }
    // }

    // Management

    &__management-name{
        display: flex;
        gap: toRem(20);
        align-items: center;
        border-bottom: none;
    }

    &__info-approval{
        padding: 0 toRem(8);
        border: 1px solid $warning-main;
        border-radius: 30px;
        color: $warning-main;
        background-color: $danger-surface;
        @extend .fs-xs;
        font-weight: 600;
    }

    &__management-address{
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__button-review{
        padding: toRem(12) toRem(24);
        border: 1.5px solid $green-01;
        border-radius: 8px;
        background-color: $white;
        color: $neutral-primary;
        @extend .fs-sm;
        font-weight: 600;
    }

    &__content-tabel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(20);

        @include media-breakpoint-down(xs-3){
            align-items: flex-start;
            flex-direction: column;
            gap: toRem(12);
        }
    }

    &__tabel-text{
        color: $neutral-subtle;
        @extend .fs-lg;
        font-weight: 500;

        span{
            color: $neutral-primary !important;
            font-weight: 600 !important;
        }
    }

    &__tabel-button{
        padding: toRem(12) toRem(28) !important;
        background-color: $green-01;
        color: $white;
        border-radius: 10px;
        border: none;
        font-weight: 600;
    }

    &__content-action{
        padding-left: toRem(30);
    }

    &__button-list-group{
        display: flex;
        flex-direction: column;
        gap: toRem(16);
    }

    &__map{
        position: relative;
        padding-bottom: 31.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        &__modal {
            margin: auto;
            top: 50%;
            transform: translateY(-50%) !important;
        }
    
        &__modal-body {
            border: none;
            border-radius: toRem(16);
            gap: toRem(40);
            padding: toRem(24);
    
            @include media-breakpoint-down(sm) {
                border: none;
                max-width: toRem(380) !important;
                border-radius: toRem(16);
                gap: toRem(24);
                padding: toRem(24);
                margin-left: auto;
                margin-right: auto;
            }
    
            @include media-breakpoint-down(xs-2) {
                border: none;
                max-width: toRem(290) !important;
                border-radius: toRem(16);
                gap: toRem(24);
                padding: toRem(24);
                margin-left: auto;
                margin-right: auto;
            }
        }
    
        &__modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: unset !important;
        }

    &__map iframe,   
    &__map object,  
    &__map embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__toggle {
        display: inline-block;
        position: relative;
        width: toRem(48);
        height: toRem(24);
        background-color: #ccc;
        border-radius: toRem(15);
        cursor: pointer;
      }
    
      &__toggle-switch {
        position: absolute;
        top: 5%;
        left: 5%;
        width: toRem(20);
        height: toRem(20);
        background-color: $white;
        border-radius: 50%;
        transition: transform 0.3s ease;
      }
    
      &__toggle-on {
        transform: translateX(25px);
        
      }

      &__toggle-content{
        color: $white;
        position: absolute;
        top: 5%;
        left: 60%;
        width: toRem(20);
        height: toRem(20);
        transition: all .3s ease;
    }
}