.car-reservation{
    &__content{
        display: flex;
        flex-direction: column;
        gap: toRem(24);
    }

    &__content-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(24);

        @include media-breakpoint-down(xs-3){
            flex-direction: column;
            gap: toRem(16);
        }
    }

    &__date{
        display: flex;
        gap: toRem(24);

        @include media-breakpoint-down(xs-3) {
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__date-caption{
        display: flex;
        gap: toRem(8);
        align-items: center;
        color: $neutral-subtle;
        @extend .fs-lg;
        font-weight: $font-weight-semibold;

        span{
            color: $neutral-primary;
            font-weight: $font-weight-bold;
        }
    }

    &__date-order{
        color: $neutral-primary;
        font-weight: $font-weight-semibold;
        padding: 0 toRem(12);
        border: 1px solid $green-01;
        background-color: $green-06;
        border-radius: toRem(40);
        font-weight: $font-weight-semibold;

        @include media-breakpoint-down(xs-3) {
            align-items: center;
            width: 100%;
            max-width: toRem(75);
        }
    }

    &__car-list{
        position: relative;
    }

    &__car-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: toRem(16);
        border-bottom: 1px solid $neutral-separator;
        margin-bottom: toRem(16);
        
        @include media-breakpoint-down(md){
            flex-direction: column;
            align-items: flex-start;
            gap: toRem(12);
            justify-content: unset;
        }
    }

    &__car-profile{
        display: flex;
        gap: toRem(12);
        align-items: center;
    }

    &__info{
        display: flex;
        gap: toRem(16);
        align-items: center;

        @include media-breakpoint-down(xs-3){
            flex-direction: column;
            align-items: center;
        }
    }

    &__info-danger{
        color: $danger-main;
        @extend .fs-sm;
        font-weight: $font-weight-bold;
    }

    &__top-header-btn {
        padding: 0.75rem 1.25rem !important;
        font-size: 0.75rem !important;
        font-weight: 600 !important;
        background: #ffffff;
        transition: all .2s ease-in-out;

        &:hover {
            .react-svg {
                svg {
                    color: $white !important;
                }
            }
        }
    }

    &__modal {
        margin: auto;
        top: 50%;
        transform: translateY(-50%) !important;
    }

    &__modal-body {
        border: none;
        border-radius: 1rem;
        gap: 1.5rem;
        padding: 1.5rem;

        @include media-breakpoint-down(sm){
            border: none;
            max-width: toRem(380) !important;
            border-radius: toRem(16);
            gap: toRem(24);
            padding: toRem(24);
            margin-top: toRem(64);
            margin-left: auto;
            margin-right: auto;
        }

        @include media-breakpoint-down(xs-2) {
            border: none;
            max-width: toRem(320) !important;
            border-radius: toRem(16);
            gap: toRem(24);
            padding: toRem(24);
            margin-top: toRem(64);
            margin-left: auto;
            margin-right: auto;
        }

    }

    &__modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: unset !important;
    }

    &__caption-bold{
        @extend .fs-xl;
        font-weight: $font-weight-bold;
        color: $neutral-primary;
    }

    &__caption-id{
        color: $neutral-secondary;

        &--large{
            @extend .fs-xl;
            color: $neutral-secondary;
        }
    }

    &__car-list-content{
        display: flex;
        gap: toRem(24);

        @include media-breakpoint-down(xs-3){
            flex-direction: column;
        }
    }

    &__content-list{
        display: flex;
        gap: toRem(24);

        @include media-breakpoint-down(lg){
            flex-direction: column;
        }
    }



    &__car-list-wrapper{
        display: flex;
        flex-direction: column;
        gap: toRem(8);
    }

    &__caption-content{
        color: $neutral-primary;
        font-weight: $font-weight-bold;
    }

    &__car-list-wrapper{
        &--row{
            display: flex;
            align-items: center;
            gap: toRem(12);

            @include media-breakpoint-down(xl){
                flex-direction: column;
                align-items: flex-start;
            }

            @include media-breakpoint-down(lg){
                flex-direction: column;
                align-items: flex-start;
            }

            @include media-breakpoint-down(md) {
                flex-direction: row;
                align-items: center;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &--var{
            max-width: toRem(290);
        }
    }

    &__car-list-desc{
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__ellipse{
        width: toRem(5);
        height: toRem(5);
        background-color: $neutral-separator;
        border-radius: 50%;

        @include media-breakpoint-down(xl){
            display: none;
        }
    }

    //popup 

    &__popup{
        position: relative;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba($modal-backdrop-bg, .4);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    
        &:target {
            opacity: 1;
            visibility: visible;
        }
    }

    &__popup-form{
        max-width: toRem(550);
        width: 100%;
        position: relative;
    }

    &__popup-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: toRem(24);
    }

    
    &__popup-content{
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        position: relative;
        border-bottom: 1px solid var(--neutral-separator, #F1F3F5);
    }

    &__radio-list{
        display: flex;
        gap: toRem(16);
        flex-direction: column;
        position: relative;
    }

    &__popup-radio{
        position: relative;
    }

    &__popup-btn {
        button.btn-close {
            color: $black !important;
        }
    }
}