.car-dashboard{
    background-color: $neutral-light;

    &__header{
      border-bottom: 1px solid $neutral-separator;
      background-color: $white;
      width: 100%;
  }

  &__content{
    @include media-breakpoint-down(lg){
      gap: toRem(16);
    }
  }

  &__content-header{
      display: flex;
      align-items: center;
      padding: toRem(24) toRem(24);
      gap: toRem(24);
      width: 100%;

      &--link {
        padding: unset !important;
      }

      &--time{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

  }

  &__header-left{
    display: flex;
    gap: toRem(24);
    align-items: center;
  }

  &__content-title-heading{
    margin-bottom: 0 !important;
    text-align: center;
  }

    &__content-container {
        max-width: toRem(1120);
        margin: 0 auto;
        padding: toRem(56) 0;
    }

    &__content-form {
        padding: 1.5rem;
        border-radius: 16px;
        background-color: $white;
        margin-bottom: 1.5rem;
    
        &--row {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &--column {
            display: flex;
            flex-direction: column;
            gap: toRem(24);
        }

        &--column-center {
          display: flex;
          flex-direction: column;
          gap: toRem(24);
          align-items: center;
        }
    }

    &__content-title {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: toRem(24);
        justify-content: center;
        width: 100%;
    }

    &__content-caption{
      color: $neutral-primary;
      font-weight: 400;
      @extend .fs-base;
    }
    
      &__content-title-heading {
        margin-bottom: toRem(24);
        color: $neutral-primary;
    }

    &__content-title-caption {
        @extend .fs-lg;
        text-align: center;
      }

    &__content-link{
        color: $green-01;
    }

    &__step-card{
      
      // @include media-breakpoint-down(sm){
      //   display: flex;
      //   gap: toRem(24);
      // }
      

      &--link{
        cursor: pointer;
        transition: all .2s;

        &:hover{
          opacity: 1.05;
        }
      }

      &--left{
        display: flex;
        gap: toRem(12);
        align-items: center;
      }

      &--page{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: toRem(24);
        border: 1px solid $neutral-input;
        border-radius: toRem(16);
        margin-bottom: toRem(24);

        @include media-breakpoint-down(xl){
          padding: toRem(24) toRem(8);
        }

        @include media-breakpoint-down(lg){
          padding: toRem(24);
        }

        @include media-breakpoint-down(xs-2){
          padding: toRem(24) toRem(8);
        }
      }

      &--title{
        font-weight: 600;
        font-size: $font-size-xl;
        color: $neutral-primary;

        @include media-breakpoint-down(xl){
          font-size: $font-size-lg;
        }
      }
    }

    // Car Dashboard User

    &__content-user{
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      @include media-breakpoint-down(md){
        flex-direction: column;
        justify-content: center;
        gap: toRem(12);
      }
    }

    &__user-title{
      display: flex;
      gap: toRem(16);
    }

    &__content-button{
      color: $neutral-primary;
      font-weight: 600;

      &--green{
        color: $green-01;
      }

    }

    &__user-title{
      color: $black;
      @extend .fs-xl;
      font-weight: 600;
      margin-bottom: toRem(16);
    }

    &__feedback-card{
      border: 1px solid $neutral-input;
      border-radius: 12px;
      padding: toRem(16);
      margin-bottom: toRem(24);

      &--left{
        @include media-breakpoint-down(xs-2){
          width: min-content;
        }
      }
    }

    &__card-content{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__content-wrapper{
      display: flex;
      gap: toRem(10);
      margin-bottom: toRem(8);
    }

    &__feedback-rating{
      display: flex;
      gap: toRem(4);
    }

    &__rating-active{
      color: $blue-whale-01;
      font-weight: 600;
    }

    &__rating-default{
      color: $blue-whale-03;
      @extend .fs-sm;
      font-weight: 400;
    }

    &__user-caption{
      color: $neutral-subtle;
      @extend .fs-sm;
      font-weight: 400;
    }

    &__card-menu{
      border: 1px solid $neutral-input;
      border-radius: 12px;
      padding: toRem(16) toRem(16);

      &:not(:last-child){
        margin-bottom: toRem(12);
      }
    }
  
    &__card-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__card-menu--left{
      display: flex;
      gap: toRem(8);
      align-items: center;
    }

    &__card-menu-title{
      font-weight: 600;
      color: $neutral-primary;

      @include media-breakpoint-down(xs-2){
        width: min-content;
      }
    }

    &__content-wrappers{
      display: flex;
      align-items: center;
      margin-bottom: toRem(16);
      position: relative;
      gap: toRem(16);

      @include media-breakpoint-down(md){
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__content-tabel-left{
      display: flex;
      gap: toRem(32);
      position: relative;
    }

    &__content-filter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: toRem(16);
      border-left: 1px solid $neutral-separator;
      width: 100%;

      @include media-breakpoint-down(md){
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
        padding: 0;
        gap: toRem(12);
      }

      @include media-breakpoint-down(xs-2){
        flex-direction: column-reverse;
      }
    }

    &__input-search{
      @include media-breakpoint-down(md){
        width: 100% !important;
      }

      @include media-breakpoint-down(xs-1){
        width: 100%;
      }
    }

    // notification

    &__notification-content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(xs-3){
        align-items: flex-start;
      }

      &--left{
        display: flex;
        gap: toRem(20);
        align-items: center;

        @include media-breakpoint-down(md){
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    &__notification-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__notification-title{
      color: $neutral-primary;
      @extend .fs-xl;
      font-weight: 600;
      margin-bottom: toRem(8);
    }

    &__notification-caption{
      color: $neutral-secondary;
      @extend .fs-lg;
      font-weight: 400;
    }

    &__notification-btn{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    //opening time

    &__time-table{
      max-width: toRem(180);
    }

    &__radio{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: toRem(33) toRem(53);

      @include media-breakpoint-down(lg){
        padding: toRem(33) toRem(32);
      }
    }

    &__title-radio{
      display: flex;
      justify-content: center;
    }

    //progress circular

  &__content-caption-title{
    @extend .fs-xl;
    color: $neutral-primary;
    font-weight: 600;
    line-height: 26px;
  }

  &__progress-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(12);

    @include media-breakpoint-down(xl){
      justify-content: flex-start;
      gap: toRem(102);
    }
  }

  &__content-statistic{
    display: flex;
    flex-direction: column;
    gap: toRem(24);
  }

  &__statistic-wrapper{
    display: flex;
    gap: toRem(16);

    @include media-breakpoint-down(xl){
      flex-direction: column;
    }
  }

  &__chart-wrapper{
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }

  &__progress-wrapper{
    display: flex;
    gap: toRem(16);

    @include media-breakpoint-down(xs-3){
      flex-direction: column;
    }
  }

  &__progress-card{
    border: 1px solid $neutral-separator;
    border-radius: 12px;
    padding: toRem(12) toRem(16);

    @include media-breakpoint-down(xl){
      flex: 0 0 50%;
    }
  }

  &__progress-content{
    display: flex;
    gap: toRem(29);
    align-items: center;

    @include media-breakpoint-down(xl){
      justify-content: space-between;
    }
  }

  &__reservation-content{
    display: flex;
    flex-direction: column;
    gap: toRem(13.5);
    min-width: toRem(132);
    width: 100%;
  }
  &__reservation-status{
    span {
      font-size: 1rem;
    }
  }

  &__caption-content{
    color: $neutral-primary;
    font-weight: 500;
    line-height: 22px;

  }

  &__caption-reservation{
    color: $neutral-subtle;
  }
    
  $borderWidth: 4px;
  $animationTime: .5s;
  $border-color-default: #E8F8F4;
  $border-color-fill: $green-01;
  $size: toRem(62);
  $howManySteps: 100; //this needs to be even. 

  .progress-circular {
    width: $size;
    height: $size;
    line-height: $size;
    background: none;
    box-shadow: none;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: $borderWidth solid $border-color-default;
      position: absolute;
      top: 0;
      left: 0;
    }
    > span {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }
    .progress-left {
      left: 0;
    }
    .progress-bar {
      width: 100%;
      height: 100%;
      background: none;
      border-width: $borderWidth;
      border-style: solid;
      position: absolute;
      top: 0;
      border-color: $border-color-fill;
    }
    .progress-left .progress-bar {
      left: 100%;
      border-top-right-radius: ($size/2);;
      border-bottom-right-radius: ($size/2);;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
      //animation: loading-2 1.5s linear forwards 1.8s;
    }
    .progress-right {
      right: 0;
      .progress-bar {
        left: -100%;
        border-top-left-radius: ($size/2);;
        border-bottom-left-radius: ($size/2);;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        //animation: loading-1 1.8s linear forwards;
      }
    }
    .progress-value {
      display: flex;
      border-radius: 50%;
      font-size: 1rem;
      text-align: center;
      line-height: 20px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-weight: 300;
      div{
        display: flex;
        align-items: center;
      }
      h5 {
        color: $blue-whale-01;
        font-weight: 600;
      }
      span {
        font-size: 12px;
        color: $blue-whale-03;
      }
    }
  }

  /* This for loop creates the necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */
  @for $i from 1 through $howManySteps {
    $stepName: ($i*(100 / $howManySteps));

    //animation only the left side if below 50%
    @if $i <= ($howManySteps/2) { 
      .progress-circular[data-percentage="#{$stepName}"] {
        .progress-right .progress-bar {
          animation: loading-#{$i} $animationTime linear forwards;
        }
        .progress-left .progress-bar {animation: 0;}
      }
    }
    //animation only the right side if above 50%
    @if $i > ($howManySteps/2)  {  
      .progress-circular[data-percentage="#{$stepName}"] {
        .progress-right .progress-bar {
          animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
        }
        .progress-left .progress-bar {
        animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
      }
      }
    }
  }

  //animation
  @for $i from 1 through ($howManySteps/2) { 
    $degrees: (180/($howManySteps/2));
    $degrees: ($degrees*$i);
    @keyframes loading-#{$i}{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate($degrees);
        transform: rotate(#{$degrees}deg);
      }
    }
  }
}