@import "signup";
@import "hotel-dashboard";
@import "hotel-registration";
@import "car-dashboard";
@import "company-detail";
@import "add-location";
@import "add-fleet";
@import "my-fleet";
@import "car-finishing";
@import "car-reservation";
@import "allocation-car";
@import "profile";