// Color system

// scss-docs-start brand-color-variables
$green-01: #1cb78d;
$green-02: #55c9a9;
$green-03: #8ddbc6;
$green-04: #c6ede3;
$green-05: #e8f8f4;
$green-06: #f4fbf9;
$blue-whale-01: #052c47;
$blue-whale-02: #446175;
$blue-whale-03: #8295a3;
$blue-whale-04: #c1cad1;
$blue-whale-05: #e6eaed;
// scss-docs-end brand-color-variables

// scss-docs-start neutral-color-variables
$neutral-primary: #1b1b1bf5;
$neutral-secondary: #616161;
$neutral-subtle: #9e9e9e;
$neutral-input: #d9e0e4;
$neutral-separator: #f1f3f5;
$neutral-light: #fafbfb;
$white: #ffffff;
// scss-docs-end neutral-color-variables

// scss-docs-start accent-color-variables
$mantis: #5ebd4e;
$lime: #bfe359;
$minion-yellow: #e4de51;
$raw-sienna: #d98352;
$carnelian: #AA2E20;
// scss-docs-end accent-color-variables

// scss-docs-start success-color-variables
$success-main: #74cc50;
$success-surface: #f9fef8;
$success-border: #d0f3c3;
$success-hover: #60b63e;
$success-pressed: #3a6d25;
// scss-docs-end success-color-variables

// scss-docs-start info-color-variables
$info-main: #475bca;
$info-surface: #f8f8fd;
$info-border: #c2c8ed;
$info-hover: #3b4ca8;
$info-pressed: #242e65;
// scss-docs-end info-color-variables

// scss-docs-start warning-color-variables
$warning-main: #eeca32;
$warning-surface: #eeca32;
$warning-border: #f9edbb;
$warning-hover: #c6a82a;
$warning-pressed: #776519;
// scss-docs-end warning-color-variables

// scss-docs-start danger-color-variables
$danger-main: #ca3232;
$danger-surface: #fff9f9;
$danger-border: #edbbbb;
$danger-hover: #a82a2a;
$danger-pressed: #651919;
// scss-docs-end danger-color-variables

// scss-docs-start theme-color-variables
$primary: $blue-whale-01;
$secondary: $blue-whale-02;
$success: $green-01;
$info: $info-main;
$warning: $warning-main;
$danger: $danger-main;
$light: $neutral-light;
$dark: $neutral-primary;
// scss-docs-end theme-color-variables

// scss-docs-start shadow-color-variables
$shadow-color: rgba(5, 44, 71, 0.08);
// scss-docs-end shadow-color-variables

// Our custom color
$custom-colors: (
  "green-01": $green-01,
  "green-02": $green-02,
  "green-03": $green-03,
  "green-04": $green-04,
  "green-05": $green-05,
  "green-06": $green-06,
  "blue-whale-01": $blue-whale-01,
  "blue-whale-02": $blue-whale-02,
  "blue-whale-03": $blue-whale-03,
  "blue-whale-04": $blue-whale-04,
  "blue-whale-05": $blue-whale-05,
  "neutral-primary": $neutral-primary,
  "neutral-secondary": $neutral-secondary,
  "neutral-subtle": $neutral-subtle,
  "neutral-input": $neutral-input,
  "neutral-separator": $neutral-separator,
  "neutral-light": $neutral-light,
  "white": $white,
  "mantis": $mantis,
  "lime": $lime,
  "minion-yellow": $minion-yellow,
  "raw-sienna": $raw-sienna,
  "carnelian": $carnelian,
  "success-main": $success-main,
  "success-surface": $success-surface,
  "success-border": $success-border,
  "success-hover": $success-hover,
  "success-pressed": $success-pressed,
  "info-main": $info-main,
  "info-surface": $info-surface,
  "info-border": $info-border,
  "info-hover": $info-hover,
  "info-pressed": $info-pressed,
  "warning-main": $warning-main,
  "warning-surface": $warning-surface,
  "warning-border": $warning-border,
  "warning-hover": $warning-hover,
  "warning-pressed": $warning-pressed,
  "danger-main": $danger-main,
  "danger-surface": $danger-surface,
  "danger-border": $danger-border,
  "danger-hover": $danger-hover,
  "danger-pressed": $danger-pressed,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Minimum contrast
//
// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 1.5;

// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  xs-1: 320px,
  xs-2: 375px,
  xs-3: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl-1: 1320px,
  xxl: 1440px,
);
// scss-docs-end grid-breakpoints

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1240px,
);
// scss-docs-end container-max-widths

// Container padding
$container-padding-x: toRem(40);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 2.5,
  8: $spacer * 3,
  ) !default;
// scss-docs-end spacer-variables-maps

// Body

// scss-docs-start body-elements
$body-bg: $white;
$body-color: $neutral-secondary;
// scss-docs-end body-elements

// Links

// scss-docs-start anchor-elements
$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: null;
// scss-docs-end anchor-elements

// Paragraphs

// scss-docs-start paragraph-elements
$paragraph-margin-bottom: 0;
// scss-docs-end paragraph-elements

// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-color: $neutral-separator;
$border-color-translucent: rgba($neutral-primary, 0.175
);
// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius: 10px;
$border-radius-xs: 2px;
$border-radius-sm: 8px;
$border-radius-lg: 16px;
$border-radius-xl: 20px;
$border-radius-2xl: 24px;
// scss-docs-end border-radius-variables

// scss-docs-start box-shadow-variables
$box-shadow: 0px 12px 44px $shadow-color;
// scss-docs-end box-shadow-variables

// Typography

// scss-docs-start font-variables
$font-family-base: "General Sans", sans-serif;

$font-size-xs: toRem(10);
$font-size-sm: toRem(12);
$font-size-base: toRem(14);
$font-size-lg: toRem(16);
$font-size-xl: toRem(18);

$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;

$line-height-base: 1.57;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

$line-height-font-xl: 1.44;
$line-height-font-lg: 1.5;
$line-height-font-base: 1.57;
$line-height-font-sm: 1.67;
$line-height-font-xs: 1.8;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$h1-font-size: toRem(52);
$h2-font-size: toRem(44);
$h3-font-size: toRem(36);
$h4-font-size: toRem(28);
$h5-font-size: toRem(22);
$h6-font-size: toRem(20);

$h1-mobile-font-size: toRem(44);
$h2-mobile-font-size: toRem(36);
$h3-mobile-font-size: toRem(28);
$h4-mobile-font-size: toRem(22);
$h5-mobile-font-size: toRem(20);
$h6-mobile-font-size: toRem(18);

$h1-line-height: 1.2;
$h2-line-height: 1.2;
$h3-line-height: 1.2;
$h4-line-height: 1.2;
$h5-line-height: 1.2;
$h6-line-height: 1.2;

$h1-mobile-line-height: 1.2;
$h2-mobile-line-height: 1.2;
$h3-mobile-line-height: 1.2;
$h4-mobile-line-height: 1.2;
$h5-mobile-line-height: 1.2;
$h6-mobile-line-height: 1.2;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  xl: $font-size-xl,
  lg: $font-size-lg,
  base: $font-size-base,
  sm: $font-size-sm,
  xs: $font-size-xs,
);
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom: 0;
$headings-font-weight: 600;
$headings-color: $neutral-primary;
// scss-docs-end headings-variables

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: toRem(14);
$input-btn-padding-x: toRem(28);
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-sm;

$input-btn-padding-y-sm: toRem(12);
$input-btn-padding-x-sm: toRem(24);
$input-btn-font-size-sm: $font-size-sm;

$input-btn-padding-y-lg: toRem(16);
$input-btn-padding-x-lg: toRem(32);
$input-btn-font-size-lg: $font-size-lg;
// scss-docs-end input-btn-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-white-space: nowrap; // Set to `nowrap` to prevent text wrapping or set to `null` to default

$btn-font-weight: $font-weight-bold;
$btn-box-shadow: null;
$btn-focus-box-shadow: null;
$btn-active-box-shadow: null;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;
// scss-docs-end btn-variables

// Forms

// scss-docs-start form-text-variables
$form-text-margin-top: toRem(6);
$form-text-font-size: $font-size-sm;
$form-text-font-weight: $font-weight-base;
$form-text-color: $neutral-secondary;
// scss-docs-end form-text-variables

// scss-docs-start form-label-variables
$form-label-margin-bottom: toRem(12);
$form-label-font-size: $font-size-base;
$form-label-font-weight: $font-weight-bold;
$form-label-color: $neutral-secondary;
// scss-docs-end form-label-variables

// scss-docs-start form-input-variables
$input-padding-y: toRem(13);
$input-padding-x: toRem(16);
$input-font-size: $font-size-base;
$input-font-weight: $font-weight-semibold;
$input-line-height: $line-height-sm;

$input-padding-y-sm: toRem(16);
$input-padding-x-sm: toRem(16);
$input-font-size-sm: $font-size-sm;

$input-padding-y-lg: toRem(16);
$input-padding-x-lg: toRem(16);
$input-font-size-lg: $font-size-lg;

$input-bg: $body-bg;

$input-color: $neutral-secondary;
$input-border-color: $neutral-input;
$input-border-width: 1px;
$input-box-shadow: null;

$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$input-border-radius-lg: $border-radius;

$input-focus-bg: $input-bg;
$input-focus-border-color: $blue-whale-01;
$input-focus-color: $input-color;
$input-focus-box-shadow: unset;

$input-placeholder-color: $neutral-subtle;
$input-plaintext-color: $body-color;

$input-height: 56px;
$input-height-sm: 52px;
$input-height-lg: 60px;
// scss-docs-end form-input-variables

// scss-docs-start form-check-variables
$form-check-input-width: 16px;
$form-check-padding-start: calc($form-check-input-width + 8px);
$form-check-margin-bottom: 0;
$form-check-label-cursor: null;

$form-check-input-bg: $input-bg;
$form-check-input-border: 1px solid $neutral-input;
$form-check-input-border-radius: 4px;
$form-check-radio-border-radius: 50%;
$form-check-input-focus-border: $input-focus-border-color;
$form-check-input-focus-box-shadow: unset;

$form-check-input-checked-color: $white;
$form-check-input-checked-bg-color: $green-01;
$form-check-input-checked-border-color: $green-01;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$green-01}'/></svg>") !default;
// scss-docs-end form-check-variables

// Badges

// scss-docs-start badge-variables
$badge-font-size: toRem(12);
$badge-font-weight: $font-weight-bold;
$badge-color: $white;
$badge-padding-y: toRem(6);
$badge-padding-x: toRem(8);
$badge-border-radius: $border-radius-sm;
// scss-docs-end badge-variables

// Modals

// scss-docs-start modal-variables
$modal-inner-padding: toRem(32);

$modal-dialog-margin-y-sm-up: toRem(120);

$modal-content-bg: $white;
$modal-content-border-radius: toRem(12);

$modal-backdrop-bg: #041d2f;
$modal-backdrop-opacity: 0.4;

$modal-sm: 300px;
$modal-md: 528px;
$modal-lg: 930px;
$modal-xl: 1140px;
// scss-docs-end modal-variables

// Close

// scss-docs-start close-variables
$btn-close-width: toRem(20);
$btn-close-padding-x: 0;
$btn-close-color: $danger-main;
$btn-close-bg: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.0008 10L14.3699 14.3692M5.63159 14.3692L10.0008 10L5.63159 14.3692ZM14.3699 5.63086L9.99992 10L14.3699 5.63086ZM9.99992 10L5.63159 5.63086L9.99992 10Z' stroke='#{$btn-close-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$btn-close-bg-neutral-primary: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.0008 10L14.3699 14.3692M5.63159 14.3692L10.0008 10L5.63159 14.3692ZM14.3699 5.63086L9.99992 10L14.3699 5.63086ZM9.99992 10L5.63159 5.63086L9.99992 10Z' stroke='#{$neutral-primary}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$btn-close-focus-shadow: null;
// scss-docs-end close-variables

// Negative margin
$enable-negative-margins: true;