.user-layout-sidebar {
  .profile-card {
    padding: toRem(20);
    border-radius: toRem(12);
    background-color: $blue-whale-01;
    box-shadow: 0px 4px 20px rgba(5, 44, 71, 0.2);

    &__icon-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $blue-whale-02;
      @include flex(row, center, center);
      margin-bottom: toRem(16);
      overflow: hidden;

      .profile-card__icon{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .react-svg {
        width: 20px;
        height: 20px;
        color: $white;
      }
    }

    &__name {
      @extend .fs-xl;
      @extend .fw-semibold;
      color: $white;
    }

    &__email {
      @extend .fs-sm;
      color: $white;
      margin-top: toRem(4);
    }
  }

  .menu {
    @include flex(column, stretch);
    margin-top: toRem(24);
    transition: all .2s ease-in-out;

    &__link {
      @include flex(row, center);
      gap: toRem(10);
      padding: toRem(16) toRem(20);
      @extend .fs-lg;
      @extend .fw-normal;
      color: $neutral-secondary;
      transition: all .2s ease-in-out;

      &.active {
        @extend .fw-bold;
        color: $blue-whale-01;

        .menu__link-icon {
          color: $green-01;
        }

        .menu__link-arrow-icon {
          color: $blue-whale-04;
        }
      }

      span {
        flex: 1;
      }

      &:hover {
        background-color: $neutral-separator;
        color: $blue-whale-01;
        .menu__link-icon {
            color: $green-01;
          }
        .menu__link-arrow-icon {
          color: $neutral-secondary;
        }

      }
    }

    &__link-icon {
      width: 20px;
      height: 20px;
    }

    &__link-arrow-icon {
      width: 16px;
      height: 16px;
    }
  }
}