.tabs {
  .tabs-menu {
    @include flex(row, stretch, flex-start);
    position: relative;
    z-index: 1;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1px;
      background-color: $neutral-input;
      left: 0;
      bottom: 0;
    }

    & > * {
      border-radius: 0;
      border: none;
      outline: none;
      border-bottom: 1px solid $neutral-input;
      padding: toRem(16) toRem(32);
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $blue-whale-01;

      &:not(.active):hover {
        background-color: shade-color(transparent, $btn-hover-bg-shade-amount);
      }

      &.active {
        font-weight: $font-weight-bold;
        color: $primary;
        border-bottom: 2px solid $green-01;
      }
    }
  }

  .tabs-content {
    padding-top: toRem(32);
  }
}
