.tabs {
  .tabs-menu {
    @include flex(row, stretch, flex-start);
    position: relative;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-down(sm) {
      overflow-x: auto;
      overflow-y: visible;
      -webkit-overflow-scrolling: touch;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1px;
      background-color: $neutral-input;
      left: 0;
      bottom: 0;
    }

    & > * {
      border-radius: 0;
      border: none;
      outline: none;
      border-bottom: 1px solid $neutral-input;
      padding: toRem(16) toRem(32);
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      color: $blue-whale-01;

      @include media-breakpoint-down(sm) {
        flex-shrink: 0;
      }

      &:not(.active):hover {
        background-color: shade-color(transparent, $btn-hover-bg-shade-amount);
      }

      &.active {
        font-weight: $font-weight-bold;
        color: $primary;
        border-bottom: 2px solid $green-01;
      }
    }
  }

  .tabs-content {
    padding-top: toRem(32);
  }
}