.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  .dropzone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 32px 24px;
    border-radius: 12px;
    border: 1px dashed var(--bs-green-01, #1CB78D);
    background: var(--bs-white, #FFF);

    .heading {
      margin-bottom: 0.5rem;
    }
  }

  .uploadedImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: -0.5rem;
    margin-top: -1rem;

    .column {
      flex: 0 0 auto;
      width: 20%;
      padding-inline: 0.5rem;
      margin-top: 1rem;
    }

    .image {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 0.5rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid var(--bs-green-01, #1CB78D);

      .removeButton {
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid var(--bs-danger-main, #ca3232);
        background-color: var(--bs-danger-main, #ca3232);
        color: var(--bs-white, #FFF);
      }
    }
  }

}

.wrapperOutlineNone {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  .dropzone {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 16px;
    padding: 32px 0px;

    .heading {
      margin-bottom: 0.5rem;
    }

    @media only screen and (max-width:320px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .uploadedImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-inline: -0.5rem;
    margin-top: -1rem;

    .column {
      flex: 0 0 auto;
      width: 20%;
      padding-inline: 0.5rem;
      margin-top: 1rem;
    }

    .image {
      position: relative;
      width: 7.8125rem;
      aspect-ratio: 1/1;
      border-radius: 0.5rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid var(--bs-green-01, #1CB78D);

      .removeButton {
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid var(--bs-danger-main, #ca3232);
        background-color: var(--bs-danger-main, #ca3232);
        color: var(--bs-white, #FFF);
      }

        @media only screen and (max-width:375px) {
          width: 100px;
        }
      
    }
    
    @media only screen and (max-width:768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 12px;
      margin-inline: -0.5rem;
      margin-top: -1rem;
    }

    @media only screen and (max-width:480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      flex-wrap: wrap;
      margin-inline: -0.5rem;
      margin-top: -1rem;
    }

    @media only screen and (max-width:375px) {
      display: grid;
      grid-template-columns: repeat(2, 125px);
      align-items: flex-start;
      flex-wrap: wrap;
      margin-inline: -0.5rem;
      margin-top: -1rem;
    }

    @media only screen and (max-width:320px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: flex-start;
      flex-wrap: wrap;
      margin-inline: -0.5rem;
      margin-top: -1rem;
    }
  }

    @media only screen and (max-width:320px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

}