.section-heading {
  @include flex(column, center);
  text-align: center;
  margin-bottom: toRem(48);

  &__title {
    color: $neutral-primary;
  }

  &__description {
    margin-top: toRem(12);

    &--mt-lg {
      margin-top: toRem(24);
    }
  }
}

.react-svg {
  flex: none;
  @include flex(row, center);

  & > * {
    width: 100%;
    height: 100%;
    @include flex(row, center);
  }
}

*{
  scroll-behavior: smooth;
}
