*:not(html, body) {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
    border-right: 6px solid $white;
    border-left: 6px solid $white;
    border-top: 0;
    border-bottom: 0;
  }

  &::-webkit-scrollbar-track:horizontal {
    background-color: $white;
    border-top: 6px solid $white;
    border-bottom: 6px solid $white;
    border-right: 0;
    border-left: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $neutral-input;
    border-radius: 8px;
    border-right: 6px solid $white;
    border-left: 6px solid $white;
    border-top: 0;
    border-bottom: 0;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: $neutral-input;
    border-radius: 8px;
    border-top: 6px solid $white;
    border-bottom: 6px solid $white;
    border-right: 0;
    border-left: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $neutral-subtle;
  }
}

body {
  div#__next {
  scroll-behavior: smooth;
  }

  overflow: unset !important;
}

section {
  padding-top: toRem(48);
  padding-bottom: toRem(48);
}

a {
  font-weight: $font-weight-bold;
}

h1 {
  @extend %heading;
  @include heading-size($h1-font-size,
    $h1-mobile-font-size,
    $h1-line-height,
    $h1-mobile-line-height );
}

h2 {
  @extend %heading;
  @include heading-size($h2-font-size,
    $h2-mobile-font-size,
    $h2-line-height,
    $h2-mobile-line-height );
}

h3 {
  @extend %heading;
  @include heading-size($h3-font-size,
    $h3-mobile-font-size,
    $h3-line-height,
    $h3-mobile-line-height );
}

h4 {
  @extend %heading;
  @include heading-size($h4-font-size,
    $h4-mobile-font-size,
    $h4-line-height,
    $h4-mobile-line-height );
}

h5 {
  @extend %heading;
  @include heading-size($h5-font-size,
    $h5-mobile-font-size,
    $h5-line-height,
    $h5-mobile-line-height );
}

h6 {
  @extend %heading;
  @include heading-size($h6-font-size,
    $h6-mobile-font-size,
    $h6-line-height,
    $h6-mobile-line-height );
}

ol,
ul {
  padding-left: 1.5rem;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}