.fs-xl {
  line-height: $line-height-font-xl;
}

.fs-lg {
  line-height: $line-height-font-lg;
}

.fs-base {
  line-height: $line-height-font-base;
}

.fs-sm {
  line-height: $line-height-font-sm;
}

.fs-xs {
  line-height: $line-height-font-xs;
}
