@import "header";
@import "sidebar";

.admin-layout {
  width: 100%;

  &__content {
    margin-top: 92px;
    margin-left: 236px;
    padding: toRem(24);
    min-height: calc(100vh - 92px);
    background-color: $neutral-light;

    @include media-breakpoint-down(xl) {
      margin-left: unset !important;
    }

    & > .container {
      padding-right: 0;
      padding-left: 0;
    }    
  }
}
