.admin-sidebar {
  width: 236px;
  height: 100vh;
  position: fixed;
  z-index: $zindex-fixed + 1;
  top: 0;
  left: 0;
  background-color: $white;
  border-right: 1px solid $neutral-separator;
  @include flex(column, stretch);
  @include media-breakpoint-down(xl) {
    display: none;
  }

  &__header {
    height: 92px;
    background-color: $white;
    border-bottom: 1px solid $neutral-separator;
    @include flex(row, center, center);
    padding: toRem(8) toRem(24) 0;

    img {
      width: 100%;
      height: 26px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.admin-sidebar-menu-wrapper {
  flex: 1;
  padding: toRem(24);
  overflow-y: auto;
  @include flex(column, stretch);

  @include media-breakpoint-down(xl){
    padding: unset;
  }
}

.admin-sidebar-menu {
  position: relative;
  // padding: toRem(14) toRem(40) toRem(14) toRem(16);
  padding: toRem(14) toRem(16);
  @include flex(row, center);
  gap: toRem(12);
  @extend .fs-base;
  @extend .fw-normal;
  color: $neutral-primary;
  white-space: nowrap;

  &:hover,
  &.active {
    color: $green-01;

    @include media-breakpoint-down(xl){
      background: $neutral-light;
    }
  }

  &[aria-expanded="true"] &__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    @include media-breakpoint-down(xl){
      right: toRem(20);
    }
  }
}

.admin-sidebar-menu-children {
  padding: 0 0 0 toRem(12);
  @include flex(column, stretch);

  & > *:first-child {
    margin-top: toRem(12);
  }

  & > *:last-child {
    margin-bottom: toRem(12);
  }

  .admin-sidebar-menu {
    padding: toRem(12);
    gap: toRem(8);
    border-left: 1px solid $neutral-input;

    &:hover,
    &.active {
      border-left: 1px solid $green-01;
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}

.admin-sidebar-offcanvas{
  overflow: visible;

  &__header{
    padding: toRem(32) toRem(24) toRem(20) toRem(40);
    @include flex(row, center);
    gap: toRem(28);
    position: relative;    
  }
  &__header-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: toRem(-20);
    padding: toRem(11);
    width: toRem(40);
    height: toRem(40);
    background: $white;
    border: toRem(1) solid $neutral-input;
    border-radius: toRem(100);
    @include flex(row,center,center);
  }
  &__body{
    padding: unset;
  }

  &__notification {
    position: relative;
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }  
  }

  &__notification-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    color: $primary;
    cursor: pointer;

    &--has-dot {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: toRem(2);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $danger-main;
        border: 2px solid $white;
      }
    }
  }
}
