.admin-business-header {
  height: 92px;
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 236px;
  right: 0;
  background-color: $white;
  border-bottom: 1px solid $neutral-separator;
  @include flex(row, center, space-between);
  padding: toRem(8) toRem(24) 0;

  &__title {
    color: $neutral-primary;
  }

  &__right-content {
    @include flex(row, center);
    gap: toRem(32);
  }

  .admin-business-header__left-content-img{
    width: toRem(48);
    height: toRem(48);
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__left-content {
    @include flex(row, center);
    gap: toRem(8);

    &-wrapper {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(xs-3) {
        display: none;
      }
    }

    &-location {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $neutral-primary;
      line-height: toRem(26);
    }

    &-desc {
      color: $neutral-primary;
      font-weight: $font-weight-normal;
      line-height: toRem(22);
    }

  }

  &__left {
    display: flex;
    align-items: center;
    gap: toRem(20);

    &-content-link {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      line-height: toRem(24);
      color: $green-01;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__search {
    position: relative;

    input {
      height: 40px;
      width: 320px;
      padding-left: toRem(46);
    }

    .react-svg {
      width: 20px;
      height: 20px;
      color: $neutral-subtle;
      position: absolute;
      left: toRem(16);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__notification {
    position: relative;
  }

  &__notification-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    color: $primary;
    cursor: pointer;

    &--has-dot {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: toRem(2);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $danger-main;
        border: 2px solid $white;
      }
    }
  }

  &__user {
    position: relative;
  }

  &__user-toggle {
    position: relative;
    @include flex(row, center);
    gap: toRem(12);
    cursor: pointer;
  }

  &__user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__user-name {
    @extend .fs-base;
    @extend .fw-bold;
    color: $neutral-primary;
    white-space: nowrap;
  }

  &__user-title {
    @extend .fs-xs;
    color: $neutral-primary;
    margin-top: toRem(2);
    white-space: nowrap;
  }

  &__user-arrow {
    width: 20px;
    height: 20px;
  }

  // user dropdown

  &__dropdown-menu{
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: 0% !important;
    left: unset !important;
    margin-top: 1.25rem;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(5, 44, 71, 0.20);
  }

  &__shape-triangle{
    position: absolute;
    top: -10%;
    right: 3%;
    width: 0;
    height: 0;
    border-left: toRem(15) solid transparent;
    border-right: toRem(15) solid transparent;
    border-bottom: toRem(30) solid $white;
  }

  &__list-menu{
    padding: toRem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper{
      display: flex;
      gap: toRem(24);
      align-items: center;
    }

    &-caption{
      font-weight: 500;
      color: $neutral-secondary;
    }
  }
}