@import "header";
@import "sidebar";

.admin-layout {
  width: 100%;

  &__content {
    margin-top: 92px;
    margin-left: 236px;
    padding: toRem(24) ;
    min-height: calc(100vh - 92px);
    background-color: $neutral-light;

    &-full {
      margin-top: 0;
      margin-inline: auto;
      padding: toRem(24);
      min-height: calc(100vh - 92px);
      background-color: $neutral-light;
    }

    &>.container {
      padding-right: 0;
      padding-left: 0;
    }

    &-guest-review {
        margin-top: 92px;
        margin-left: 233px;
        padding: toRem(24) toRem(24) toRem(48);
        min-height: calc(100vh - 92px);
        background-color: $neutral-light;
    
        @include media-breakpoint-down(xl) {
          margin-left: 0;
        }
      }
      &-customer-feedback {
        // margin-top: 92px;
        // margin-left: 233px;
        // padding: toRem(24) toRem(24) toRem(48);
        // min-height: calc(100vh - 92px);
        background-color: $neutral-light;
    
        @include media-breakpoint-down(xl) {
          margin-left: 0;
        }
      }
  }
}