.admin-business-sidebar {
  width: 236px;
  height: 100vh;
  position: fixed;
  z-index: $zindex-fixed + 1;
  top: 0;
  left: 0;
  background-color: $white;
  border-right: 1px solid $neutral-separator;
  @include flex(column, stretch);

  &__header {
    height: 92px;
    background-color: $white;
    border-bottom: 1px solid $neutral-separator;
    @include flex(row, center, center);
    padding: toRem(8) toRem(24) 0;

    img {
      width: 100%;
      height: 26px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.admin-business-sidebar-menu-wrapper {
  flex: 1;
  padding: toRem(24);
  overflow-y: auto;
  @include flex(column, stretch);
}

.admin-business-sidebar-menu {
  position: relative;
  // padding: toRem(14) toRem(40) toRem(14) toRem(16);
  padding: toRem(14) toRem(16);
  @include flex(row, center);
  gap: toRem(12);
  @extend .fs-base;
  @extend .fw-normal;
  color: $neutral-primary;
  white-space: nowrap;

  &:hover,
  &.active {
    color: $green-01;

    .admin-business-sidebar-menu-svg {
      color: $green-01;
    }
  }

  &-svg {
    color: $neutral-secondary;
  }
  // &-svg {
  //   svg {
  //     path {
  //     // stroke: $neutral-secondary !important;
      
  //     &:hover,
  //     &.active {
  //       // stroke: $green-01 !important;
  //     } 
  //     }
  //   }
  // }

  &[aria-expanded="true"] &__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

}

// .react-svg.admin-sidebar-menu-svg {
//   svg {
//     path {
//       stroke: $neutral-secondary !important;
//     }
//   }
// }

.admin-business-sidebar-menu-children {
  padding: 0 0 0 toRem(12);
  @include flex(column, stretch);

  & > *:first-child {
    margin-top: toRem(12);
  }

  & > *:last-child {
    margin-bottom: toRem(12);
  }

  .admin-sidebar-menu {
    padding: toRem(12);
    gap: toRem(8);
    border-left: 1px solid $neutral-input;

    &:hover,
    &.active {
      border-left: 1px solid $green-01;
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}
